<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- <script src="/assets/javascript/saveScroll.js"></script> -->
		<title>Make a Dish!</title>
	</head>
	<header>
	<h1>Make a Dish!</h1>
</header>

	<body>
		<!-- <image src="/assets/images/foodPyramid.jpg" /> -->
		{{{ body }}}
	</body>
</html>
